@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', monospace;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: #000;
}

.logo {
  display: flex;
  gap: 5px;
}

.logo h4{
  color: #fff;
  font-weight: 800;
  font-size: 1.4rem;
}

.navbar ul{
  display: flex;
  gap: 4rem;
  text-transform: capitalize;
}

.navbar ul li{
  list-style-type: none;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
}

.navbar ul li a:hover{
  text-shadow: 3px 3px 5px #fff;
}

.container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.home{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1% 1% ;
  width: 100%;
  min-height: 70vh;
}

.product-container {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 50%;
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgb(71, 69, 69);
  text-align: center;
  padding: 1rem;
}

.product-container img {
  height: 200px;
  max-width: 150px;
  width: 200px;
  display: block;
  width: 100%;
  margin: 10px 0px;
  object-fit: cover;
}

.cart-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  gap: 4px;
  background-color: #464343;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  margin-top: 10px;
}

.price {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6px;
  height: 2rem;
  padding: 0px 15px;
  background-color: rgb(88, 90, 88);
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}

.heading {
  width: 100%;
}

.overall {
  width: 100%;
  display: flex;
}

.👍 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.btn-remove {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 10px;
  outline: none;
  border-radius: 3px;
  gap: 4px;
  background-color: #d83f3f;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}

.🦆{
  width: 100%;
  height: 70vh;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.base {
  height: 30px;
  width: 30px;
  color: white;
  position: relative;
  border-radius: 10px;
  font-size: 20px;
}

.indicator {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 60%;
  bottom: 60%;
  background-color: rgb(61, 221, 61);
  border-radius: 50%;
  color: #000;
}

.about {
  word-wrap: normal;
  margin: 2rem;
  padding: 4rem;
  background-color: rgb(72, 77, 72);
  color: #fff;
  line-height: 2rem;
  border-radius: 7px;
}

.about h2 {
  margin-bottom: 1rem;
  color: rgb(47, 207, 181)  ;
}

.about strong {
  color: #31c763;
}

label {
  position: absolute;
  left: -9999px;
}

.search-box {
  padding: 4px;
}

.icon {
  color: #fff;
}

.quanitity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.🩷{
  width: 50px;
}

.pagination {
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  width: max-content;
}

.page-num {
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.page-num:hover {
  background-color: rgb(60, 58, 61);
  color: #fff;
}

.svg {
  width: 28px;
  height: 28px;
}